.ngTableRenderer .contentDiv {
    overflow-y: auto;
}

.ngTableRenderer .headerDiv {
    overflow-y: scroll;
    height: 36px;
}

.widget-icon {
    color:  #37BC9B;
}

.widget-icon i[button] {
    cursor: pointer;
}